@model ArticleViewModel
<!DOCTYPE html>
<html lang="@Model.LanguageCode">
<head>
<!--  BEGIN: Cosmos Layout HEAD content inject (not editable). -->
<title>@Model.Title</title>
@Html.Raw(Model.Layout.Head)
<!--  END: Cosmos HEAD inject (not editable). -->

<!-- BEGIN: page-specific head content (editable) -->
@Html.Raw(Model.HeaderJavaScript)
<!-- END: page-specific head content (editable) -->

<!-- BEGIN: Application insights injected (if used - not editable). -->
@Html.Raw(JavaScriptSnippet.FullScript)
<!-- END: Application insights  (if used - not editable). -->
</head>
<body>
@RenderBody()

<!-- BEGIN: Cosmos script section injected (if used - not editable). -->
@await RenderSectionAsync("Scripts", false)
<!-- END: Cosmos script section (if used - not editable). -->
</body>
</html>